body{
}

div.col{
    padding: 2rem;
    font-size: 2rem;
}

button{
    margin: 10px;
}

hr {
    text-align: center;
    height: 4px;
    color: #000;
    background-color: #000;
    border-color: #000;
    border: none;
    outline: none;
}

table{
    border: solid 2px grey;
}

td{
    border: solid 2px white;
}


.operation-btn{
    text-align: center;
}

.floating-operations{
    width: 100%;
    height: 100%;
    #object-fit: fill;
    #background-repeat: no-repeat;
    #background-size: cover;
    #max-width: 100%;
    #height: auto;
}

.main-page{
    background-color: #9ca5ad;
}

.symbol{
    width: 2rem;
    text-align: center;
}

.correction-label{
    height: 1rem;
    margin-bottom: 0;
    padding-bottom: 0;
}

.title{
    text-align: center;
}

.answer-text{
    width: 90%;
}

.key {
    background-color: #4f5050;
}

.value{
    background-color: #bcbebf;
    text-align: center;
}

.flash {
   animation-name: flash;
    animation-duration: 6s;
    #animation-timing-function: linear;
    animation-iteration-count: 1;
    #animation-direction: alternate;
    animation-play-state: running;
    color: white;
}

@keyframes flash {
    from {color: black;}
    to {color: white;}
}

.special-addition{
    background-color: lightgreen;
}

.operand{
    text-align: right;
    padding-right: 3rem;
}