{% include 'header.html' %}

{% include 'operation_banner.html' %}
    <div class="row problem">
        <div class="col operands m-5">
            <div class="row operand1">
                <div class="col-1 text-end">
                </div>
                <div class="col-3 operand1">
                    <h1>{{ operand1 }}</h1>
                </div>
            </div>
            <div class="row operand2">
                <div class="col-1 text-end">
                    <h1><i class="{{ symbol }}"></i></h1>
                </div>
                <div class="col-3 operand2">
                    <h1>{{ operand2 }}</h1>
                </div>

            </div>
            <div class="row line">
                <div class="col-4 line">
                    <hr>
                </div>
            </div>

            <div class="row answer pw-0 mw-0">
                <div class="col-4 answer pw-0 mw-0">
                    <form action="{{ url_for('practice_page', operation=operation) }}" method="post">
                        <input type="text" class="answer-text pe-0 pw-0 mw-0" name="guess" autofocus>
                        <div class="correction-label">
                            <label>{{ guess }}</label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div>
        {% set stats_page = url_for('stats_page', operation=operation) %}
        <button class='btn btn-md bg-{{ banner_color }} download-btn p-3 stats-page' type="button" onclick="window.location.href='{{ stats_page }}'"><i class="fa-solid fa-chart-column"></i> {{ operation.title() }} Stats Page</button>
    </div>

{% include 'footer.html' %}