<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Practice</title>

    <!--    Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

</head>
<body>
    {% set text_color = 'black' %}
    {% if operation == 'addition': %}
    {% set coloring = 'primary' %}
    {% set text_color = 'white' %}
    {% endif %}
    {% if operation == 'subtraction': %}
    {% set coloring = 'warning' %}
    {% endif %}
    {% if operation == 'multiplication': %}
    {% set coloring = 'info' %}
    {% endif %}
    {% if operation == 'division': %}
    {% set text_color = 'white' %}
    {% set coloring = 'dark' %}
    {% endif %}

    <div class="title bg-{{coloring}} text-{{text_color}} p-5">
        <h1 class="fs-1 fw-bolder">
            {{operation.title()}}
        </h1>
    </div>
</body>
</html>