{% include 'header.html' %}
{% include 'operation_banner.html' %}
<div class="m-5">
    <h2>{{operation.title()}} Practice Stats</h2>
</div>

<table class="m-5">
    {% for digit, subdict in dictionary.items() %}
      {% for key, value in subdict[operation][-1].items() %}
       <tr>
           <td class="p-3 key text-white"><h4>{{ key.title() }}: </h4></td>
           <td class="p-3 value"><h4>   {{ value }}</h4></td>
       </tr>
      {% endfor %}
    {% endfor %}
</table>

    <div>
        {% set practice_page = url_for('practice_page', operation=operation) %}
        <button class='btn btn-md bg-{{ banner_color }} download-btn p-3 stats-page' type="button" onclick="window.location.href='{{ practice_page }}'"><i class="{{ symbol }}"></i> {{ operation.title() }} (Back to Practice)</button>
    </div>
{% include 'footer.html' %}